svg {
    cursor: default;
    .category-label {
        alignment-baseline: middle;
        text-anchor: middle;
        font-family: var(--font-family);
        font-size: var(--font-size);
        color: var(--font-color);
    }
    .x-axis {
        stroke: var(--line-color);
        stroke-width: var(--line-width);
    }
    .y-axis {
        stroke: var(--line-color);
        stroke-width: var(--line-width);
        padding: 100px;
    }
    .bar {
        stroke-width: var(--line-width);
    }
    .connectors{
        stroke: var(--line-color);
        stroke-width: var(--connector-width);
    }
    .data-label{
        text-anchor: middle;
        font-size: var(--font-size);
        color: var(--font-color);
    }
    .y-tick{
        stroke: var(--line-color);
        stroke-width: var(--connector-width);
    }
    .y-tick-label{
        text-anchor: middle;
        font-size: var(--font-size);
        color: var(--font-color);
    }
}
